<section>
  <div class="container">
    <div class="checkins-list">
      <h1>Check-ins for {{eventName}}</h1>

      <div class="search">
        <h3>Search Check-ins</h3>
        <input type="text" ng-model="query" placeholder="Search">

        <fieldset class="form-group">
          <span>order by:</span>
          <select ng-model="order">
            <option value="firstname">First Name</option>
            <option value="lastname">Last Name</option>
            <option value="date">Date</option>
          </select>
        </fieldset><!-- Search by -->

        <fieldset class="form-group">
          <input id="dirascending" type="radio"
            ng-model="direction" name="direction" value="">
          <label for="dirascending">asc</label>

          <input id="dirdescending" type="radio"
            ng-model="direction" name="direction" value="reverse">
          <label for="dirdescending">desc</label>
        </fieldset><!-- formgroup -->

      </div><!-- search box -->

      <table class="userlist table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Gym</th>
            <th>Registered</th>
            <th ng-show="signedIn()">Controls</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-class="checkin.userClass" 
            ng-repeat="checkin in checkins |
            orderBy:order:direction | filter: { $id: recordId, $: query}">
            <td>{{checkin.firstname}} {{checkin.lastname}}</td>
            <td>{{checkin.gym}}</td>
            <td>{{checkin.date | date:"MMM d, yy h:mm a"}}</td>
            <td ng-show="signedIn()"><button class="btn" 
              confirmation-needed="Sure you want to delete the Checkin?"         
              ng-click="deleteCheckin(checkin.$id)">Delete this check-in</button></td>
          </tr>  
        </tbody>
      </table><!-- userlist -->

    </div><!-- checkinslist -->  
  </div><!--container-->
</section>
