<style type="text/css">
	body {
		background: url('http://i.imgur.com/jqWUuBr.jpg');
		background-size: 100%, 100%;
	}
</style>
<section>
	<div class="container">
		<div class="welcome">
			<table>
				<tr>
					<td><a class="btn btn-default" ng-href="#/login">Login</a></td>
					<td><a class="btn btn-default" ng-href="#/checkin">Check in</a></td>
					<td><a class="btn btn-default" ng-href="#/bracket">Give me a bracket</a></td>
				</tr>
			</table>
		</div><!--welcome-->
	</div><!--container-->
</section>